// Colors 
$color-primary-baby: #ddc3de; 
$color-primary-girl: #c29999;
$color-primary-boy: #99c2bf; 

$color-secondary-baby: #9bb2ce ; 
$color-secondary-girl: #c76e6e;
$color-secondary-boy: #6ec7c1; 

$color-back-baby: #f4d6dd;
$color-back-girl: #ddc3de; 
$color-back-boy: #dae6e5;

$color-border-img: #fff; 
$color-border-nav: #ffa500; 

// color-back er kun synlig mellem afsnit på siden (margin)
$color-back: #fff; 
$color-font-norm: #fff; 
$color-font-head: #fff; 

$default-border-color: $color-border-img; 
$nav-color-back: linear-gradient (to bottom, #{$color-back-boy} 0%, #{$color-back-boy} 50%, #{$color-back-girl} 50%, #{$color-back-girl} 100%);
$nav-color-back: linear-gradient (to bottom, $color-back-boy 0%, $color-back-boy 50%, $color-back-girl 50%, $color-back-girl 100%);

$nav-color-back: linear-gradient(to bottom, #dae6e5 0%, #dae6e5 50% , #ddc3de 50%, #ddc3de 100%)