/* line 7, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
html {
  scroll-behavior: smooth;
}

/* line 11, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(calc((12px + ((calc(1vw - (0.3 * 12px))) * calc(100 * (32 - 12) / (1536 - 320))))) * 1.0);
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 22, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
h1 {
  font-size: calc(calc((12px + ((calc(1vw - (0.3 * 12px))) * calc(100 * (32 - 12) / (1536 - 320))))) * 2.0);
  font-weight: 400;
}

/* line 28, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
h2 {
  font-size: calc(calc((12px + ((calc(1vw - (0.3 * 12px))) * calc(100 * (32 - 12) / (1536 - 320))))) * 1.5);
  font-weight: 400;
}

/* line 32, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
a {
  text-decoration: none;
}

/* line 36, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
img {
  width: 100%;
}

/* line 1, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  background: linear-gradient(0deg, #dae6e5 0%, #dae6e5 50%, #ddc3de 50%, #ddc3de 100%);
}

/* line 17, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu ul {
  text-align: left;
}

/* line 20, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2vw;
}

/* line 24, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu ul li a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 29, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu ul li a:hover {
  background-color: inherit;
}

/* line 32, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu ul li a:active {
  background-color: inherit;
}

/* line 35, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-menu ul li a:focus {
  background-color: inherit;
}

/* line 46, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-btn {
  cursor: pointer;
}

/* line 50, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-btn img {
  border: 4px;
  border-style: hidden;
  border-radius: 50%;
  box-sizing: border-box;
}

/* line 62, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.nav-btn img:active {
  border-style: solid;
  border-color: #ffa500;
  box-sizing: border-box;
  transform: scale(0.9);
}

/* line 72, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.logo-item {
  grid-column: span 3;
  margin: auto;
}

/* line 76, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.logo-item img {
  width: 100%;
  min-width: 50px;
}

@media screen and (min-width: 1024px) {
  /* line 72, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .logo-item {
    /* DESKTOP MQ */
  }
  /* line 84, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .logo-item img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 72, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .logo-item {
    /* TABLET MQ */
  }
  /* line 90, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .logo-item img {
    width: 100%;
  }
}

/* line 97, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.menu-item {
  grid-column: -1 / span 9;
  margin: auto;
}

/* line 100, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
.menu-item img {
  padding-top: 3vmin;
  width: 65%;
}

@media screen and (min-width: 1024px) {
  /* line 97, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .menu-item {
    /* DESKTOP MQ */
  }
  /* line 108, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .menu-item img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* line 97, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .menu-item {
    /* TABLET MQ */
  }
  /* line 114, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_navigation.scss */
  .menu-item img {
    width: 80%;
  }
}

/* line 1, C:/Users/poul5553/Opgaver/Bufas/resources/sass/layouts/_header.scss */
.head {
  background: linear-gradient(0deg, #dae6e5 0%, #dae6e5 50%, #ddc3de 50%, #ddc3de 100%);
  font-family: "Patrick Hand", cursive;
}

/* line 152, C:/Users/poul5553/Opgaver/Bufas/resources/sass/abstracts/_mixins.scss */
nav-style {
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  border-color: #ffa500;
  box-sizing: border-box;
}

/* line 61, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
.main-btn {
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
/* line 68, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
.active {
  background-color: inherit;
}

/* line 76, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
.main-wrapper {
  width: 100vw;
  background: linear-gradient(-45deg, #dae6e5 0%, #dae6e5 50%, #ddc3de 50%, #ddc3de 100%);
}

/* line 121, C:/Users/poul5553/Opgaver/Bufas/resources/sass/abstracts/_mixins.scss */
.main-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  background: initial;
}

/* line 97, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
.main-item-img {
  grid-column: span 12;
  padding-left: 2vmin;
}

@media screen and (min-width: 768px) {
  /* line 97, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
  .main-item-img {
    /* TABLET MQ */
    grid-column: span 3;
  }
}

/* line 105, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
.main-item-cat {
  grid-column: span 12;
  padding-left: 2vmin;
}

@media screen and (min-width: 768px) {
  /* line 105, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
  .main-item-cat {
    /* TABLET MQ */
    grid-column: span 7;
  }
}

/* line 113, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
.main-item-but {
  grid-column: span 12;
  padding-left: 2vmin;
}

@media screen and (min-width: 768px) {
  /* line 113, C:/Users/poul5553/Opgaver/Bufas/resources/sass/main.scss */
  .main-item-but {
    /* TABLET MQ */
    grid-column: span 2;
  }
}

/* line 152, C:/Users/poul5553/Opgaver/Bufas/resources/sass/abstracts/_mixins.scss */
.klaes {
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  border-color: #fff;
  box-sizing: border-box;
}

/*# sourceMappingURL=../css/main.map */